.form{
  background-color: #419ad3;
  padding: 20px;
  border-radius: 20px;

  &__headline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__title{
    font-size: 20px;
    color: white;
  }

  &__close{
    cursor: pointer;
  }

  &__field{
    margin-bottom: 15px;
  }

  &__action{
    margin-top: 25px;
  }
}